body {background-color: black;}

h1 {color:antiquewhite; 
    display: flex; 
    justify-content: center;
    margin-bottom: 60px;
}

h2 {color:antiquewhite}

.btn-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}